[Unit]
Description=dishes client

[Service]
WorkingDirectory=/usr/bin
ExecStart=/usr/bin/dishes-client -url http://192.168.1.110:10088 -path /data -product 30618211212878320 -device 32632350839931246
SyslogIdentifier=dishes-client
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target