{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>颠勺</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  
  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'css/local.css' %}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="images/png" href="{% static 'images/spoon-and-fork.png' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
    <div class="topnav">
      <ul>
        {% if project_id %}
        <a href="/projects/">Projects</a>
        <a href="{% url 'projects:metas' project_id %}">MyProject</a>
        <a href="{% url 'projects:mymachine' project_id %}">MyMachine</a>
        <a href="{% url 'projects:mypackages' project_id %}">MyPackages</a>
        <a href="{% url 'projects:myimages' project_id %}">MyImages</a>
        {% else %}
        <a href="/">MainPage</a>
        <a href="/projects/">Projects</a>
        <a href="#help">Help</a>
        <a href="#about">about</a>
        {% endif %}
      </ul>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
