{% extends "base.html" %}
{% block content %}

  <div class="container", style="margin-top: 100px">
  <div class='row'>
    <div class="three columns">
      <a href="{% url 'projects:mymachine' project_id %}" class="button" style="width: 200px;">Develop My Meta</a>
    </div>    
    <div class="three columns">
      <a href="{% url 'projects:meta_create' project_id %}" class="button" style="width: 200px;">Add meta layer</a>
    </div>
    <div class="three columns">
      <a href="{% url 'projects:bitbake' project_id %}" class="button" style="width: 200px;">Bitbake Command</a>
    </div>
    <div class="three columns">
      <a href="{% url 'projects:project_export' project_id %}" class="button" style="width: 200px;">Export Project</a>
    </div>
  </div>
  </div>

  <div class="container", style="margin-top: 60px">
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>Url</th>
          <th>Sub</th>
          <th>ROL</th>
        </tr>
      </thead>
      <tbody>
        {% for meta in metas %}
        <tr>
          <td>{{ meta.name }}</td>
          <td>{{ meta.url }}</td>
          <td>{{ meta.sub }}</td>
          <td>{{ meta.remote_or_local }}</td>          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}