{% extends "base.html" %}
{% block content %}

<div class="container", style="margin-top: 30px">
  <form action="" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="four columns">
        <label>{{ form.name.label }}</label>
        {{ form.name }}   
      </div>
      <div class="four columns">
        <label>{{ form.base.label }}</label>
        {{ form.base }}   
      </div>
      <div class="four columns">
        <label>{{ form.flash.label }}</label>
        {{ form.flash }}
      </div>       
    </div>
    <div class="row">
      <div class="twelve columns">
        <label>{{ form.description.label }}</label>
        {{ form.description }}
      </div>
    </div>
    {% if form.flash.value == 'SDCard' %}
    <div class="row">
      <div class="nine columns">
        <label>{{ form.wic_file.label }}</label>
        {{ form.wic_file }}
      </div>
      <div class="three columns">
        <label><br></label>
        <a href="{% url 'projects:add_wks_file' project_id myimage_id %}" class="button">Add Wks File</a>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="twelve columns">
        <label>{{ form.packages.label }}</label>
        {{ form.packages }}
      </div>
    </div>

    <div class="row">
      <div class="three columns">
        <label>{{ form.compatible.label }}</label>
        {{ form.compatible }}
      </div>
      <div class="three columns">
        <label>{{ form.product_id.label }}</label>
        {{ form.product_id }}
      </div>
      <div class="three columns">
        <label>{{ form.fs_type.label }}</label>
        {{ form.fs_type }}
      </div>
      <div class="three columns">
        <label>{{ form.version.label }}</label>
        {{ form.version }}
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <label>{{ form.file_path.label }}</label>
        {{ form.file_path }}
      </div>
      <div class="three columns">
        <label>{{ form.file_name.label }}</label>
        {{ form.file_name }}
      </div>
      <div class="three columns">
        <label>{{ form.stage.label }}</label>
        {{ form.stage }}
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <label>{{ form.dishes_url.label }}</label>
        {{ form.dishes_url }}
      </div>
    </div>

    <input class="button" type="submit" style="width: 210px; margin-top: 10px;" value="Update Image">
  </form>
</div>

<div class="container", style="margin-top: 50px">
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Extra Marco</th>
        <th>Value</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for extraMarco in extraMarcos %}
      <tr>
        <td>{{ extraMarco.name }}</td>
        <td>{{ extraMarco.value }}</td>
        <td>{{ extraMarco.description }}</td>
        <form action="{% url 'projects:image_extra_macro_delete' project_id myimage_id extraMarco.id %}" method="POST">
          {% csrf_token %}
          <td><input class="button" name="delete" type="submit" value="Delete"/></td>
        </form>        
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class='row'>
    <div class="three columns">
    <a href="{% url 'projects:image_extra_marco_create' project_id myimage_id %}" class="button" style="width: 200px;"> Add Extra Macro </a>
    </div>
  </div>
</div>
<div class="container", style="margin-top: 50px">
  <div class="row">
    <div class="four columns">
  <form action="{% url 'projects:myimage_file' project_id myimage_id %}" method="post">
    {% csrf_token %}
    <input class="button-primary" type="submit" style="width: 250px; margin-top: 10px;" value="Make Image File">
  </form>
  </div>
  <div class="four columns">
  <form action="{% url 'projects:myimage_bitbake' project_id myimage_id %}" method="post">
    {% csrf_token %}
    <input class="button-primary" type="submit" style="width: 250px; margin-top: 10px;" value="Bitbake Image!!">
  </form>
  </div>
  </div>
  <div class="row">
  <div class="four columns">
  <form action="{% url 'projects:update_generate' project_id myimage_id %}" method="post">
    {% csrf_token %}
    <input class="button-primary" type="submit" style="width: 250px; margin-top: 10px;" value="Generate Update Package">
  </form>
  </div> 
  <div class="four columns">
  <form action="{% url 'projects:myimage_upload' project_id myimage_id %}" method="post">
    {% csrf_token %}
    <input class="button-primary" type="submit" style="width: 250px; margin-top: 10px;" value="@DISHES Image">
  </form>
  </div>
  </div>
</div>

{% endblock %}