{% extends "base.html" %}
{% block content %}

  <div class="container", style="margin-top: 60px;">
    <div class='row' style="margin-top: 60px;">
      <div class="three columns">
        <h5> My Packages </h5>
      </div>  
      <div class="three columns">
        <a href="{% url 'projects:mypackage_create' project_id %}" class="button"> New Package </a>
      </div>  
    </div>
    <table style="width: 960px; margin-top: 0px;">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Version</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for mypackage in mypackages %}
        <tr>
          <td>{{ mypackage.name }}</td>
          <td>{{ mypackage.description }}</td>
          <td>{{ mypackage.version }}</td>
          <td>
            <a href="{% url 'projects:mypackage_detail' project_id mypackage.id %}" class="button">Details</a>
          </td>
          <form action="{% url 'projects:mypackage_delete' project_id mypackage.id %}" method="POST">
            {% csrf_token %}
            <td><input class="button" name="delete" type="submit" value="Delete"/></td>
          </form>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}