{% extends "base.html" %}
{% block head %}
{% endblock %}

{% block content %}

<div class="container", style="margin-top: 30px">
  <form action="" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="four columns">
        <label>{{ form.name.label }}</label>
        {{ form.name }}
      </div>
      <div class="eight columns">
        <label>{{ form.path.label }}</label>
        {{ form.path }}
      </div>
    </div>
    <label>{{ form.old.label }}</label>
    {{ form.old }}
    <label>{{ form.new.label }}</label>
    {{ form.new }}    
    <input class="button-primary" type="submit" value="Generate Patch">
  </form>
</div>

{% endblock %}